<!DOCTYPE html>
<head>
	<link rel="stylesheet"
		type="text/css"
		href="static/style.css"
	>
</head>


<html>
  <h1>
    h1 foo
  </h1>


<table>
<col class = "littleColumn">
<col class = "bigColumn">
<tr><td>
  <nav class = "navbar">
    <h3>
      nav foo
    </h3>
    
    <ul>
      <li<> <a href= " "> dis </a><br>
      <li<> <a href= " "> dat </a><br>
      <li<> <a href= " "> de udda ting </a>
    </ul>
  </nav>
</td>
<td>
  <h2>
    main foo heading
  </h2>

  <p>
    Of on affixed civilly moments promise explain fertile in. Assurance advantage belonging happiness departure so of. Now improving and one sincerity intention allowance commanded not. Oh an am frankness be necessary earnestly advantage estimable extensive. Five he wife gone ye. Mrs suffering sportsmen earnestly any. In am do giving to afford parish settle easily garret.

Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all.

  </p>
</td></tr>
</table>
<div id="copyright"><p>
Copyright &#169; 2022 BALLERS: Shreya Roy, Jian Hong Li, Harry Zhu
</p>
</div>

  
</html>